
body {
    background-color: darkred;
}

main {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px repeat(6, auto);
    justify-content: center;
    padding: 40px;
}

.block {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid black;
    overflow: hidden;
}

.top, .even {
    grid-column: span 2;
}

.even {
    height: 200px;
}

.left {
    background-color: red;
    color: white;
    font-size: 30px;
    font-family: 'Arial-Bold';
    font-weight: bold;
}

.right {
    background-color: lightgreen;
    color: white;
    font-size: 18px;
}

.block p {
    padding: 20px;
}

@media only screen and (min-width: 600px) {
	main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50px repeat(4, 1fr);
        justify-content: center;
    }

    .top {
        grid-column: span 5;    
    }
    .two {
        grid-row: span 2;
    }

    .three {
        grid-row: span 2;
        grid-column: span 2;
    }


} 